body {
  padding-top: 4rem;
  padding-bottom: 10rem;
  text-align: center; 
}

.main-content {
  margin-left: auto;
  margin-right: auto;
  width: 40rem;
  text-align: left;
}

#login-text,
#control-panel,
#signup-text,
#price-text,
#create-text,
#edit-text,
#view-product,
.form-control {
  text-align: center;
}

#range {
  margin-left: auto;
  margin-right: auto;
  width: 10rem;
}

#cp {
  text-decoration: none;
}

p.faq {
  font-weight: bold;
}

.footer {
  background-color: #1b1b1b;
}

.copyright {
  background-color: rgba(0, 0, 0, 0.2);
}

#results-per-page {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

#results-pp-text{
  padding-left: 1rem;
  padding-right: 1rem;
  align-self: center;
}

#map-id, #multimap{
  height: 30rem;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.slider-container {
  align-self: center;
}

/* Search bar */
.wrapper {
  width: 100%;
  max-width: 31.25rem;
  margin: 18rem auto;
}

.searchBar {
  width: 100%;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.form-select {
  height: 100%;
  text-align: center;
}

#searchQueryInput {
  height: 100%;
  width: 100%;
  background: #f5f5f5;
  outline: none;
  border: none;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}
